# python
.venv/
__pycache__/
venv

# tools
.idea/
.vscode/

# postgres
.postgres/

# mqtt
.mqtt/data
.mqtt/log

# environment
.env

# node
node_modules/

# logs
securegate.log

# app
.pyro_uri
!/postgres/
postgres