# python
.venv/
__pycache__/
venv

# tools
.idea/
.vscode/

# postgres
.postgres/
postgres/

# mqtt
.mqtt/data
.mqtt/log
mqtt/data
mqtt/log

# environment
.env

# logs
securegate.log

# app
!/postgres/
postgres